<!doctype html> <!-- modern html-->

<html>
 <head>
  <title>All Things Maria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- looks good on cell phones -->
  <link rel="stylesheet" href="../static/css/bootstrap.css">
 </head> <!-- comment in html -->

 <body>
 <div class ="container">
  <div class="row">
   <h1 class ="text-center"> Row 1</h1>
  </div>
  <div class="row">
   <div class = 'col' >
   <h1 class="text-center"> Row 2, Col 1</h1>
  </div>
   <div class = 'col' >
   <h1> Row 2, Col 2</h1>
  </div>
   <div class = 'col' >
   <h1> Row 2, Col 3</h1>
  </div>
  <div class="row">
   <h1> Row 3</h1>
  </div>
  </body>
</html>
