<!doctype html> <!-- modern html-->

<html>
 <head>
  <title>Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- looks good on cell phones -->
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/hompage_styles.css">

  <script src="../static/jss/jquery-3.5.1.js"></script>
    <script>

      $(document).ready(function(){
	  // ALL YOUR CODE HERE
	  $("p").click(function(){
       $(this).css("background","lightblue");
       console.log("A paragraph was clicked!");
	  })
	  //END YOUR CODE
      });

    </script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript">
         $(document).ready(function(){
             $(".like-btn").click(function (){
                 let btn = $(this);
                 //let = var
                 let tweet_id = btn.attr("data-tweet-id");
                 console.log("you liked tweet id: ", tweet_id);
                 $.get("/like.json?id="+tweet_id,function(data){
                     let like_count = $('#tweet-like-count-'+tweet_id)
                     like_count.fadeOut(200);
                     setTimeout(function (){
                         like_count.html(data.like_count);
                         like_count.fadeIn(200);
                     },200)

                 })
             })
         })
    </script>


 </head> <!-- comment in html -->

 <body>
  <h1 id = "title"> Login </h1>
  <h2> Username = Bill Password = 1234</h2>

  <form action="/login" method="post">
      <label for="username"> Username</label>
      <input id="username" name="username" type = "text">
      <label for="password">Password</label>
      <input id="password" name="password" type = 'password'>
      <input type = "submit" value="Login in!">
  </form>

 </body>
</html>