<!doctype html> <!-- modern html-->

<html>
 <head>
  <title>Maria Intro Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- looks good on cell phones -->
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/hompage_styles.css">

  <script src="../static/jss/jquery-3.5.1.js"></script>
    <script>

      $(document).ready(function(){
	  // ALL YOUR CODE HERE
	  $("p").click(function(){
       $(this).css("background","lightblue");
       console.log("A paragraph was clicked!");
	  })
	  //END YOUR CODE
      });

    </script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript">
         $(document).ready(function(){
             $(".like-btn").click(function (){
                 let btn = $(this);
                 //let = var
                 let tweet_id = btn.attr("data-tweet-id");
                 console.log("you liked tweet id: ", tweet_id);
                 $.get("/like.json?id="+tweet_id,function(data){
                     let like_count = $('#tweet-like-count-'+tweet_id)
                     like_count.fadeOut(200);
                     setTimeout(function (){
                         like_count.html(data.like_count);
                         like_count.fadeIn(200);
                     },200)

                 })
             })
         })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-QMWHKWN52J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QMWHKWN52J');
    </script>


 </head> <!-- comment in html -->

 <body>
  <h1 id = "title"> All Things Maria </h1>
  <a href="/login.html">Log in</a>
  <a href="/logout">Log out</a>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="T6OPV5WT"></script>
  <div class="fb-like" data-href="http://maria.wattsworth.net" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>

  <h1>Here are the tweets</h1>
  <ul>
     {%  for tweet in tweets %}
         <li> {{ tweet[0] }} </li>
         <span class="btn btn-primary like-btn" data-tweet-id="{{ tweet[4] }}">
            Like!
         </span>
         {% if user_loggedin == 1%}
             <a  class="btn btn-primary delete-btn" href="/delete?id={{ tweet[4] }}">Delete!</a>
         {% endif %}
         <span class = "text-primary" id="tweet-like-count-{{ tweet[4] }}">
            {{ tweet[2] }}
         </span>
         <span class = "text-primary" id="tweet-like-count-{{ tweet[4] }}">
            user_location: {{ tweet[3] }}
         </span>
         <!-- <p> likes: {{ tweet[2] }} </p> -->
     {%  endfor %}
  </ul>
  <form action="/tweet" method="post">
      <input name="content" type = "text">
      <input type = "submit" value="Tweet It!">
  </form>

  <p class ='intro'> My name is Maria Satre. I will be using this website to display some of my favorite things.
  If you would like to learn more about me please explore this and the subsequent pages.</p>

  <p> The current time:</p>
  <p id="demo"></p>

  <script>
   var clock = setInterval(ticktock, 1000);
   function ticktock(){
    var d = new Date();
    var t = d.toLocaleTimeString();
    document.getElementById("demo").innerHTML = t;
   }
  </script>

  <h2 class="book-title">My Hobbies</h2>
  <p> Some of my major hobbies are listed below. These are the things I spend most of my time doing.</p>
  <ul class="list-group">
      {% for hobbie in hobbies %}
   <li class ="list-group-item">{{ hobbie }} </li>
      {% endfor %}
  </ul>

  <h2 class = "book-title">My family</h2>
  <img src ="../static/images/mom.jpg" alt="Where's my car!" width="350" height="300">
  <img src="../static/images/dad.jpg" alt= "A car!" width="350" height="350">
  <img src="../static/images/will.jpg" alt= "A car!" width="275" height="350">

  <h2 class = "book-title">My friends</h2>
  <img src ="../static/images/g.jpg" alt="Where's my car!" width="350" height="350">
  <img src="../static/images/room.jpg" alt= "A car!" width="375" height="300">
  <img src="../static/images/squad.jpg" alt= "A car!" width="400" height="300">

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Welcome!</strong> Visit these sites to learn more!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <ul>
   <li><a href="/2.html">My favorite shows on Netflix</a></li>
   <li><a href="/3.html">My favorite books</a></li>
   <li><a href="/4.html">My favorite cars</a></li>
  </ul>
  <div>Footer</div>

 </body>
</html>